<?xml version="1.0" encoding="UTF-8"?>

<monitor>

	<rules group_name="Logback">

		<!-- ************************************************************************ -->
		<!--                       LOGBACK RULES                                       -->
		<!-- ************************************************************************ -->
		
		<!--  If percentage of operation is greater or equal to [value] across current session, generate event. -->
		<rule name="Operation global percentage" param_display="Log info percentage" param="Logback info logging" stickers="performance" ref="JZR-SHA-LOGBACK-001">
			<narrative>This rule detects if intensive logging is occurring in info mode.</narrative>
			<thresholds>
				<threshold type="system value" 
						   count="1"
				           value="50" 
				           level="CRITICAL"
				           sub_level="7" 
				           message="High generation of info traces.&#10; Review the logback configurations to disable the ones in info as soon as possible."/>
				<threshold type="system value" 
						   count="1"
				           value="25" 
				           level="WARNING"
				           sub_level="7"
				           message="Important generation of info traces.&#10; Review the logback configurations to disable the ones in info."/>
			</thresholds>
		</rule>
		
		<!--  If percentage of operation is greater or equal to [value] across current session, generate event. -->
		<rule name="Operation global percentage" param_display="Log debug percentage" param="Logback debug logging" stickers="performance" ref="JZR-SHA-LOGBACK-002">
			<narrative>This rule detects if intensive logging is occurring in debug mode.</narrative>
			<thresholds>
				<threshold type="system value" 
						   count="1"
				           value="50" 
				           level="CRITICAL"
				           sub_level="7" 
				           message="High generation of debug traces.&#10; Review the logback configurations to disable the ones in debug as soon as possible."/>
				<threshold type="system value" 
						   count="1"
				           value="25" 
				           level="WARNING"
				           sub_level="7"
				           message="Important generation of debug traces.&#10; Review the logback configurations to disable the ones in debug."/>
			</thresholds>
		</rule>

		<!--  If operation regex [pattern] is seen in more than [value] parallel threads for [count] successive times, generate event. -->
		<rule name="Operation parallel contention" extra_info="Logback writing contention" ref="JZR-SHA-LOGBACK-003">
			<narrative>This rule detects the Logback writing contention.</narrative>
			<thresholds>
				<threshold type="session custom"
						   count="1"
						   value="5"
				           pattern="Logback bytes writing"
				           level="INFO"
				           sub_level="8"
				           message="Light contention on the Logback writing.&#10;You may have specific logging bottleneck (console?).&#10;See also LOGBACK-1422 for more details" ticket="LOGBACK-1422"/>
				<threshold type="session custom"
						   count="2"
						   value="10"
				           pattern="Logback bytes writing"  
				           level="WARNING"
				           sub_level="7"
				           message="Contention on the Logback writing.&#10;System is about to slow down.&#10;You may have specific logging bottleneck (console?).&#10;See also LOGBACK-1422 for more details" ticket="LOGBACK-1422"/>
				<threshold type="session custom"
						   count="2"
						   value="30"
				           pattern="Logback bytes writing"  
				           level="CRITICAL"
				           sub_level="7"
				           message="Severe contention on the Logback writing.&#10;Huge logging bottleneck is detected (console?).&#10;See also LOGBACK-1422 for more details" ticket="LOGBACK-1422"/>
			</thresholds>
		</rule>

	</rules>

</monitor>
